/* Additional styles to position the autocomplete dropdown */
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.nav-link.active {
    background-color: #4CAF50; /* Change this to your preferred color */
    color: white;
}
/* Optional: some additional styling for the sidebar */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 10px;
}