.autocomplete-items {
    position: absolute;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /* This will be overridden by theme-specific styles */
}

.autocomplete-active {
    /* This will be overridden by theme-specific styles */
}

/* Optional: some additional styling for the sidebar */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 10px;
}

.sidebar-avatar {
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
}

.sidebar-avatar img {
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Make it equal to width for a perfect circle */
    border-radius: 50%; /* This makes the image circular */
    object-fit: cover; /* This will make sure the image covers the area without stretching */
    border: 2px solid #fff; /* Optional: Adds a border around the image */
}


.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    width: 100%;
}

@media (max-width: 576px) {
    .nav-tabs {
        font-size: 0.8rem;
    }
    .form-label {
        font-size: 0.9rem;
    }
    .btn {
        font-size: 0.9rem;
    }
}
