{% extends "authenticated_base.html" %}
{% block title %} Audit Logs {% endblock title %}

{% block content %}
<div class="container mt-3 theme-container">
    <h2 class="text-center">PlexPass - Audit Logs</h2>
    <table class="table theme-table">
        <thead class="theme-table-header">
        <tr>
            <th>Timestamp</th>
            <th>Kind</th>
            <th>IP Address</th>
            <th>Context</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {% for log in audit_logs %}
        <tr>
            <td>{{log.created_at}}}</td>
            <td>{{log.kind}}</td>
            <td>{{log.safe_ip_address()}}</td>
            <td>{{log.context}}</td>
            <td>{{log.message}}.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- pagination.html -->
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation" class="theme-pagination">
            <ul class="pagination">
                <li class="page-item {% if current_page > 1 %}enabled{% else %}disabled{% endif %}">
                    <a class="page-link theme-page-link" href="/ui/audit_logs?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item {% if current_page > 1 %}enabled{% else %}disabled{% endif %}">
                    <a class="page-link theme-page-link" href="/ui/audit_logs?page={{ current_page - 1 }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in pages %}
                <li class="page-item {% if page.to_string() == current_page.to_string() %}active{% endif %}">
                    <a class="page-link theme-page-link" href="/ui/audit_logs?page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
                <li class="page-item {% if current_page < total_pages %}enabled{% else %}disabled{% endif %}">
                    <a class="page-link theme-page-link" href="/ui/audit_logs?page={{ current_page + 1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item {% if current_page < total_pages %}enabled{% else %}disabled{% endif %}">
                    <a class="page-link theme-page-link" href="/ui/audit_logs?page={{ total_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock content %}

{% block extra_content %}
{% endblock extra_content %}

{% block footer %}
{% endblock footer %}
