{% extends "authenticated_base.html" %}
{% block title %} Password Tools {% endblock title %}

{% block content %}
<div class="container py-5">
    <!-- Top Section -->
    <h2 class="text-center">PlexPass - Password Tools </h2>
</div>
</div>
{% endblock content %}

{% block extra_content %}

<div class="container mt-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#generate-password">Generate Password</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#check-password">Check Password</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#check-compromise">Check Email/URL</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane container active" id="generate-password">
            <h2>Password Generator</h2>
            <form id="passwordForm">
                <div class="row mb-3">
                    <div class="col">
                        <label for="password_type" class="form-label">Select Password Type:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="password_type" id="memorablePassword"
                                   value="memorable" checked>
                            <label class="form-check-label" for="memorablePassword">
                                Memorable Password
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="password_type" id="randomPassword" value="random">
                            <label class="form-check-label" for="randomPassword">
                                Random Password
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="minLength" class="form-label">Minimum Length:</label>
                        <select class="form-select" id="minLength" name="min_length">
                            <option value="8">8</option>
                            <option value="10">10</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="minUppercase" class="form-label">Minimum Uppercase:</label>
                        <select class="form-select" id="minUppercase" name="min_uppercase">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="minLowercase" class="form-label">Minimum Lowercase:</label>
                        <select class="form-select" id="minLowercase" name="min_lowercase">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="minDigits" class="form-label">Minimum Digits:</label>
                        <select class="form-select" id="minDigits" name="min_digits">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="minSpecialChars" class="form-label">Minimum Special Characters:</label>
                        <select class="form-select" id="minSpecialChars" name="min_special_chars">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="generatePassword()">Generate Password</button>
                <div class="mt-4" id="passwordDisplaySection" style="display: none;">
                    <label for="generatedPassword" class="form-label">Generated Password:</label>
                    <div class="input-group mb-3">
                        <input type="text" id="generatedPassword" class="form-control" readonly>
                        <button class="btn btn-outline-secondary" type="button" onclick="copyPassword()">Copy</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane container fade" id="check-password">
            <!-- Password Check Form -->
            <form id="passwordCheckForm">
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Enter password">
                </div>
                <button type="button" class="btn btn-primary" onclick="checkPassword()">Check Password</button>
            </form>
            <div id="passwordCheckResult"></div>
        </div>
        <div class="tab-pane container fade" id="check-compromise">
            <!-- Compromise Check Form -->
            <form id="compromiseCheckForm">
                <div class="mb-3">
                    <label for="inputEmailOrUrl" class="form-label">Email/URL</label>
                    <input type="text" class="form-control" id="inputEmailOrUrl" name="email" placeholder="Enter email or URL">
                </div>
                <button type="button" class="btn btn-primary" onclick="checkEmailUrl()">Check for Compromise</button>
            </form>
            <div id="emailCompromiseCheckResult"></div>
        </div>
    </div>
</div>



<div class="container mt-5">
</div>
{% endblock extra_content %}

{% block footer %}
{% endblock footer %}
