{% extends "unauth_base.html" %}
{% block title %} Signin {% endblock title %}
{% block header %}
<style>
    .container {
        max-width: 400px;
        margin-top: 50px;
    }
    .logo {
        width: 100px;
        height: auto;
        margin-bottom: 20px;
    }
</style>
{% endblock header %}

{% block content %}
<div class="container border rounded p-4 shadow">
    <div class="text-center mb-4">
        <img src="/assets/images/logo.png" alt="Logo" class="logo">
        <h4>Sign in to PlexPass Password Manager!</h4>
    </div>
    {% if signin_error.len() > 0 %}
    <div id="signin_error_message" class="alert alert-danger">
        {{signin_error}}
    </div>
    {% endif %}
    <form class="mt-3" method="POST" action="/ui/signin">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input name="username" type="username" value="{{username}}" class="form-control" placeholder="Enter username">
        </div>
        <div class="mb-3">
            <label class="form-label">Master Password</label>
            <input name="master_password" type="password" class="form-control" placeholder="Enter password">
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
    </form>
    <div class="text-center mt-3">
        <p>Don't have an account? <a href="/ui/signup">Sign Up</a></p>
    </div>
</div>

{% endblock content %}

